h1 {
    text-align: center;
}

#board {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 5px;
    background-color: black;
}

.cell {
    background-color: white;
    border: none;
}

.cell:hover {
    cursor: pointer;
}

#playerTurn {
    text-align: center;
}

dialog {
    height: 300px;
    width: 300px;
}

dialog[open] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}